
:root {
  /* PALETA PRINCIPAL */
  --primary: #e0e0e0;
  --secondary: #333663;
  --third: #24638d;

  /* FONTS */
  --roboto: "Roboto", sans-serif;
  --funnel: "Funnel Display", sans-serif;
  --titilium: "Titillium Web", sans-serif;
  --roboto: "Roboto", sans-serif;
  --oswald: "Oswald", serif;
  --inter: "Inter", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  font-family: var(--titilium);
  background: var(--bodyColor);
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: var(--third);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* SCROLL BAR */
